/* I actually used woff2_compress on my Gentoo Linux,
because Font Squirrel does a poor job for languages
other than English. However, the service was instrumental
in gaining better understanding of fonts.*/

@font-face {
    font-family: 'headings'; /* For h1 elements */
    src: url('../fonts/Jura-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'subheadings'; /* For h2 elements */
    src: url('../fonts/Jura-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'contents'; /* For p, a, li, etc. elements */
    src: url('../fonts/Jura-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'information'; /* For non-related elements */
    src: url('../fonts/Jura-Light.woff2') format('woff2');
}

/* General structure */

html {
	font-size: 10px;
	margin: 0;
}

body {
	background-color: #ed6a5a;
	margin: 0;
}

header {
	width: 100%;
	margin: 0 auto;
}

/* Default typography */

h1 {
	font-size: 3.6rem;
	font-family: 'headings', arial;
	padding: 0 2rem;
}

h2 {
	font-size: 2.8rem;
	font-family: 'subheadings', arial;
	padding: 0 2rem;
}

p {
	font-size: 1.8rem;
	font-family: 'contents', arial;
	padding: 0 2rem;
}

a {
	color: white;
}

ul {
	columns: 4 auto;
}

ul li {
	font-size: 1.8rem;
	font-family: 'contents', arial;
}

/* Images */

img {
	width: 100%;
}

/* Grids */

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
/*	gap: 10px;*/
	grid-auto-rows: minmax(100px, auto);
}

.call-to-action {
	grid-column: 1 / 5;
	grid-row: 1;
	background-color: #1b1b3a;
	color: white;
	text-align: center;
}

.master-description {
	grid-column: 2 / 3;
	grid-row: 2;
}

.master-photo {
	grid-column: 3 / 4;
	grid-row: 2;
}

.master-photo img {
	width: 80%;
	padding: 10%;
}

.services-offered {
	grid-column: 1 / 5;
	grid-row: 3;
	background-color: #def2c8;
	padding: 0 25%;
}

.carousel {
	grid-column: 2 / 3;
	grid-row: 4;
	padding: 10%;
}

.certificates {
	grid-column: 2 / 5;
	grid-row: 5;
}


/* Carousel */

/* Found the following carousel style at:
 * https://www.geeksforgeeks.org/how-to-make-a-carousel-using-css/
 */

/* ----- container stylings:
-> centers the whole content of the page
-> defines width and height for container ----- */
.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
}
/* ----- end of container stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
	height: 100%;
	overflow: hidden; /* to hide slides in x-direction */
	position: relative;
}

/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
	display: flex;
	/* We give it width as 400% because we are making a
	4 image carousel. If you want to make for example,
	5 images carousel, then give width as 500%. */
	width: 300%;
	height: 100%;
	position: relative;
	/* you can change the animation settings from below */
	animation: slideshow 30s infinite;
}

/* define width and height for images*/
.slide {
	width: 100%;
	height: 100%;
}

.slide-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* @keyframes are used to provide animations
We make these settings for 4 image carousel.
Make modification according to your needs. */
@keyframes slideshow {
	0% { left: 0; }
	25% { left: 0; }
	30% { left: -100%; }
	40% { left: -100%; }
	45% { left: -200%; }
	55% { left: -200%; }
	60% { left: -100%; }
	70% { left: -100%; }
	75% { left: 0; }
	85% { left: 0; }
	90% { left: 0; }
}
/* ----- end of slideshow stylings ----- */

/* Media query stuff */

/* For mobile users with screens less than 420px wide. */
@media (max-width: 420px) {
	.call-to-action {
		grid-column: 1 / 5;
		grid-row: 1;
		background-color: #1b1b3a;
		color: white;
		text-align: center;
	}

	.master-photo {
		grid-column: 1 / 5;
		grid-row: 2;
	}

	.master-photo img {
		width: 100%;
		padding: 0;
	}

	.master-description {
		grid-column: 1 / 5;
		grid-row: 3;
	}

	.carousel {
		grid-column: 1 / 5;
		grid-row: 5;
		padding: 0;
	}

	.services-offered {
		grid-column: 1 / 5;
		grid-row: 4;
		background-color: #def2c8;
		padding: 0;
	}

	.certificates {
		grid-column: 1 / 5;
		grid-row: 6;
	}
}

/* For tablet users with screens less than 920px wide. */
@media (min-width: 420px) and (max-width: 920px) {
	.call-to-action {
		grid-column: 1 / 4;
		grid-row: 1;
		background-color: #1b1b3a;
		color: white;
		text-align: center;
	}

	.call-to-action > h1 {
		padding: 5% 0;
		margin: 0;
	}

	.call-to-action > p {
		padding: 0;
		margin: 0;
	}

	.master-photo {
		grid-column: 4 / 5;
		grid-row: 1;
	}

	.master-photo img {
		width: 100%;
		padding: 0;
	}

	.master-description {
		grid-column: 1 / 5;
		grid-row: 2;
	}

	.carousel {
		grid-column: 1 / 5;
		grid-row: 5;
		padding: 0;
	}

	.services-offered {
		grid-column: 1 / 5;
		grid-row: 4;
		background-color: #def2c8;
		padding: 0;
	}

	.certificates {
		grid-column: 1 / 5;
		grid-row: 6;
	}
}

/* For laptop users with screens less than 1400px wide. */
@media (min-width: 920px) and (max-width: 1400px) {
	.call-to-action {
		grid-column: 1 / 5;
		grid-row: 1;
		background-color: #1b1b3a;
		color: white;
		text-align: center;
	}

	ul {
		columns: 2 auto;
		padding: 0 30% 0 10%;
		list-style-type: "\2661";
	}

	.master-photo {
		grid-column: 3 / 5;
		grid-row: 2;
	}

	.master-photo img {
		width: 70%;
		float: right;
		padding: 5%;
	}

	.master-description {
		grid-column: 1 / 3;
		grid-row: 2;
	}

	.carousel {
		grid-column: 1 / 3;
		grid-row: 5;
		padding: 10%;
	}

	.services-offered {
		grid-column: 1 / 5;
		grid-row: 4;
		background-color: #def2c8;
	}

	.certificates {
		grid-column: 1 / 5;
		grid-row: 6;
	}
}


